@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23272e;
}
h1{
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
}
.visible-div{
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin: 10px auto;
    font-weight: 600;
}
.find-number{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 100px;
}

.find-number div{
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin: 10px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.find-number div::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #3cadde;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}
.find-number div.clickedEle::after{
    height: 0;
}
.titleDiv{
    text-align: start;
    padding: 20px;
}
.titleDiv span{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
.titleDiv input{
    width: 100px;
    padding: 5px 10px;
    margin-top: 10px;
}
.titleDiv input[type="submit"] {
    cursor: pointer;
}
.result{
    margin: auto;
    text-align: center;
    width: 80%;
    background-color: #fff;
    border-radius:3px;
}
.result h1{
    margin-top: 20px;
    color: #23272e;
    padding: 5px;
}
@media (max-width:767px) {
    .container{
        display: block;
        height: auto;
    }
    .find-number{
        width: 100%;
    }
}